.main {
    min-height: 100%;
    width: 90%;
    max-width: 1300px;
}

.header {
    padding-top: 70px;
    color: #fff;
}

.searchContainer {
    margin-top: 30px;
    width: 50%;
}

.header__title {
    font-size: 35px;
}

.searchByTag {
    color: #fff;
}

.searchTag {
    color: #fff;
}

.searchTag__label {
    font-weight: 500;
}

@media screen and (max-width: 700px) {
    .header {
        padding-top: 40px;
    }

    .searchContainer {
        width: calc(100% - 20px);
    }
}