.user {
display: flex;
align-items: center;
gap: 15px;
}
.user__icon {
    height: 30px;
    width: 30px;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
}
.user__icon img {
    height: 100%;
    width: 100%;
}
.user_label {
    color: #fff;
    font-size: 12px;
    font-weight: 500;
}

.user_label--drk {
    color: #00bfb9;
    text-transform: capitalize;
}