.popup-wrapper {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-wrapper .popup {
    position: relative;
    height: 100%;
    max-width: 90vw;
    max-height: 90vh;
    background-color: #fff;
    border-radius: 10px;
    padding: 2% 3%;
    box-sizing: border-box;
}

.popup .popup__close {
    position: absolute;
    right: -20px;
    top: -20px;
}


.popup__closebtn {
    height: 40px;
    width: 40px;
    background-color: #3b3b3b;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.popup__closebtn::before,
.popup__closebtn::after {
    content: " ";
    height: 2px;
    width: 22px;
    background-color: #fff;
    position: absolute;
}

.popup__closebtn::before {
    transform: rotate(45deg);
}

.popup__closebtn::after {
    transform: rotate(-45deg);
}

.userinfo {
    display: flex;
    align-items: center;
}

.userinfo__icon {
    height: 36px;
    width: 36px;
}

.userinfo__social {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.social__name {
    font-weight: bold;
}

.social__userid {
    color: #666;
    font-size: 12px;
}

.preview {
    height: calc(100% - 70px);
    margin: 20px 0;
    width: 100%;
}

.preview__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@media screen and (max-width:700px) {
    .preview__img {
        object-fit: contain;
    }

}