.postView {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.post {
    height: 200px;
    width: 300px;
    position: relative;
    border-radius: 10px;
    background-color: #fff;
    cursor: pointer;
    overflow: hidden;
    animation-name: animate;
    animation-duration: 1s;
}


.post__image {
    height: 100%;
    width: 100%;

}

.post__image img {
    object-fit: cover;
}

.post__user {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

@keyframes animate {
    from {
        opacity: 0.5;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@media screen and (max-width:700px) {
    .post {
        width: 40%;
        max-width: 200px;
        min-width: 150px;
        height: initial;
        aspect-ratio: 3/2;

    }

}